/.vs
/workspaces/vs2022/.vs/vs2022
/workspaces/vs2022/Domain/x64/Debug
/workspaces/vs2022/Foundation/x64/Debug
/workspaces/vs2022/Infrastructure/x64/Debug
/workspaces/vs2022/Presentation/x64/Debug
/workspaces/vs2022/x64/Debug
